@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:valediction"] span:nth-of-type(1){
	padding-right: 2em;
}

[epub|type~="z3998:valediction"] span:nth-of-type(2){
	padding-right: 1em;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

#casting-the-runes [epub|type~="z3998:signature"]{
	font-style: italic;
	font-variant: normal;
}

#canon-alerics-scrapbook blockquote:nth-of-type(3),
#an-episode-of-cathedral-history blockquote:nth-of-type(1){
	text-align: center;
}

/* Martin's Close features numerous long excerpts from a court transcript which should not have margins */
#martins-close blockquote{
	margin-left: 0;
	margin-right: 0;
}

#martins-close blockquote p:first-child,
#count-magnus blockquote p:first-child{
	text-indent: 1em;
}

#illustration-1 img{
	width: 45%;
}

#illustration-2 img{
	width: 95%;
}

.ciphertext p,
.ciphertext td{
	text-indent: 0;
	vertical-align: top;
	word-break: break-all;
}

.ciphertext td:first-child{
	font-style: italic;
	width: 5em;
	word-break: normal;
}

#the-story-of-a-disappearance-and-an-appearance [epub|type~="se:letter.dateline"] span{
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:diary"] p:first-child{
	text-indent: 1em;
}
