@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] header,
[epub|type~="z3998:letter"] footer{
	text-align: right;
}

[epub|type~="se:letter.dateline"]{
    font-style: italic;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

#casting-the-runes .signature{
    font-style: italic;
}

#casting-the-runes [epub|type~="z3998:valediction"] span:nth-of-type(1){
	padding-right: 3rem;
}

#casting-the-runes [epub|type~="z3998:valediction"] span:nth-of-type(2){
	padding-right: 1rem;
}

#canon-alerics-scrap-book blockquote:nth-of-type(3),
#an-episode-of-cathedral-history blockquote:nth-of-type(1){
    text-align: center;
}

/* Martin's Close features numerous long excerpts from a court transcript which should not have margins */
#martins-close blockquote{
    margin-left: 0;
    margin-right: 0;
}
#martins-close blockquote p:first-child{
    text-indent: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}
